.topic__header {
	font-size: 12px;
	color: #444444b3;
}

.topic__header_author-fullname {
	margin-right: 12px;
}

.topic__header_edit-icon {
	float: right;
}

.topic__header_save-button {
	float: right;
}

.topic__body {
	margin: 10px 0 20px 0;
}

.topic__body_description {
	background-color: #e6ecf14a;
    padding: 4px;
    border-radius: 4px;
}

.topics__new {
	margin-top: 20px;
}

.topics__new_title {
	margin-bottom: 4px !important;
}

.topics__new_description {
	margin-bottom: 4px !important;
}

.topics__topic-list {
	position: relative;
	border: 2px solid #0066a0;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 12px;
}

.topics__topic-list_body_icon {
	margin-right: 4px;
}

.topics__topic-list_footer-descr {
	font-size: 12px;
	color: #444444b3;
}

.topics__topic-list_body_pubish-date {
	float: right;
	font-size: 12px;
	color: #444444b3;
}

.topics__topic-list_footer-descr {
	float: right;
}

.topics__topic-list_header {
	margin-bottom: 8px;
}